<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto">
      <div class="card-form-public form">
        <div class="logo">
          <div class="col-md-12 text-center">
            <h1>Cadastro de nova senha</h1>
            <p>Digite a nova senha no formulário abaixo:</p>
          </div>
        </div>

        <form [formGroup]="form" (ngSubmit)="submit()" *ngIf="status">
          <div class="p-fluid row">
            <div class="col-md-12">
              <label for="password">Nova senha</label>
              <span class="p-input-icon-right">
                <i
                  class="pi {{
                    typeInput === 'password' ? 'pi-lock' : 'pi-lock-open'
                  }}"
                  (click)="viewPassword(1)"
                  role="button"
                ></i>
                <input
                  id="password"
                  [type]="typeInput"
                  formControlName="password"
                  [ngClass]="applyInputError('password')"
                  pInputText
                />
              </span>
              <app-error-message
                [control]="form.get('password')"
                label="Nova senha"
              ></app-error-message>
            </div>
            <div class="col-md-12">
              <label for="repeat-password">Confirme a senha</label>
              <span class="p-input-icon-right">
                <i
                  class="pi {{
                    typeInputConf === 'password' ? 'pi-lock' : 'pi-lock-open'
                  }}"
                  (click)="viewPassword(2)"
                  role="button"
                ></i>
                <input
                  id="repeat-password"
                  [type]="typeInputConf"
                  formControlName="conf_password"
                  [ngClass]="applyInputError('conf_password')"
                  pInputText
                />
              </span>
              <app-error-message
                [control]="form.get('conf_password')"
                label="Cofirmar a senha"
              ></app-error-message>
            </div>
          </div>

          <div class="row" *ngIf="!statusUpdate">
            <div class="col-md-12 p-0">
              <p-messages
                [value]="message"
                [enableService]="false"
                [closable]="false"
              ></p-messages>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 mb-4">
              <button
                pButton
                type="submit"
                label="Salvar nova senha"
                [disabled]="load"
                class="btn-block btn-primary-hc justify-content-center"
              >
                <i class="pi pi-spin pi-spinner mr-2" *ngIf="load"></i>
              </button>
            </div>
          </div>
        </form>

        <ng-container *ngIf="!status">
          <div class="row">
            <div class="col-md-12 p-0">
              <p-messages
                [value]="message"
                [enableService]="false"
                [closable]="false"
              ></p-messages>
            </div>
            <ng-container
              *ngIf="verify.state === 'invalidToken' && !statusResend"
            >
              <div class="col-md-12 mb-3">
                <button
                  pButton
                  (click)="resend()"
                  type="button"
                  label="Reenviar"
                  [disabled]="load"
                  class="btn-block btn-primary-hc justify-content-center"
                >
                  <i class="pi pi-spin pi-spinner mr-2" *ngIf="load"></i>
                </button>
              </div>
            </ng-container>
          </div>
          <div class="form-group">
            <p class="text-center">
              Já possui uma conta?
              <a [routerLink]="['/login']" id="signup">Faça o login aqui.</a>
            </p>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
