<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto">
      <div class="card-form-public form">
        <div class="logo mb-3">
          <div class="col-md-12 text-center">
            <h1>Esqueci minha senha</h1>
            <p>
              Preencha o formulário para receber um e-mail com a recuperação da
              senha:
            </p>
          </div>
        </div>
        <form [formGroup]="form" (ngSubmit)="submit()">
          <ng-container *ngIf="!emailSubmited">
            <div class="p-fluid row">
              <div class="col-md-12">
                <label for="user">E-mail</label>
                <input
                  id="user"
                  type="text"
                  formControlName="email"
                  [ngClass]="applyInputError('email')"
                  pInputText
                />
                <app-error-message
                  [control]="form.get('email')"
                  label="E-mail"
                ></app-error-message>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <button
                  pButton
                  type="submit"
                  label="Recuperar"
                  [disabled]="load"
                  class="btn-block btn-primary-hc justify-content-center"
                >
                  <i class="pi pi-spin pi-spinner mr-2" *ngIf="load"></i>
                </button>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="emailSubmited">
          <div class="row">
            <div class="col-md-12 p-0" >
              <p-messages [value]="message" [enableService]="false" [closable]="false"></p-messages>
            </div>
          </div>
          <div class="row" *ngIf="emailRegistered">
            <div class="col-md-12 mb-3">
              <button
                pButton
                type="button"
                (click)="resend()"
                label="Reenviar e-mail"
                [disabled]="load"
                class="btn-block btn-primary-hc justify-content-center"
              ><i class="pi pi-spin pi-spinner mr-2" *ngIf="load"></i></button>
            </div>
          </div>
        </ng-container>


          <div class="form-group mt-3">
            <p class="text-center">
              Lembrou a senha?
              <a [routerLink]="['/login']">Faça o login aqui.</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
