@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;700&display=swap');

html, body { height: 100%; }
// body { margin: 0; font-family: 'Ubuntu', sans-serif; }
body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;

  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
   }
}
.row {margin: 0!important;}

.p-fluid.row [class^="col-md"],
.p-fluid.row [class^="col"] {
  margin-bottom: 15px;
  label {
    font-weight: 600;
  }
}

.card-form-public {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #f7f7f7;
    border-radius: 4px;
    outline: 0;
}

.p-card.p-component {
  box-shadow: none;
}

.p-card.p-component,
.p-breadcrumb.p-component {
  border: 1px solid #f7f7f7;
}

.p-card {
  .p-card-header {
    padding: 16px 16px 0 16px;

    .title {
      padding: 0;
    }
    .buttons {
      text-align: right;
      padding: 0;
    }
  }
  .p-card-content {
    padding-top: 0!important;
  }
}

.btn-block .p-button-label {
  flex: none!important;
}

.btn-primary-hc.p-button,
p-button.btn-primary-hc .p-component {
  background: #84c7e5;
  border-color: #84c7e5;

  &:hover,
  &:focus,
  &:active {
      background-color: #75b1cc!important;
      border-color: #75b1cc!important;
      outline: none;
      box-shadow: none;
  }
}

input.p-inputtext,
.p-dropdown.p-component, .p-inputtextarea {
  &:hover,
  &:focus,
  &:active {
    outline: none!important;
    box-shadow: none!important;
    // border-color: inherit!important;
    // -webkit-box-shadow: none!important;
    // box-shadow: none!important;
  }
}

th,td {
  padding: 5px!important;
}

.col-actions {
  width: 90px;
}

.table-schedule .col-actions {
  width: 130px;
}

.p-datatable {
  &.p-datatable-responsive .p-datatable-tbody>tr>td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .p-datatable-header {
    background: #fff!important;
    border: none!important;
    padding: 0 0 10px 0!important;
  
    .actions {
      padding: 0;
    }
    .buttons {
      text-align: right;
      padding: 0;
    }
  }
  .p-datatable-thead > tr > th {
    background: #f7f7f7!important;
  }

  .p-datatable-footer {
    padding: 10px 0 0!important;
    background: #fff!important;
    border: none!important;

    .p-paginator {
      justify-content: flex-end;
      padding: 0;
    }
  }
}


@media screen and (max-width: 40rem) {
  .p-card {
    .p-card-header {
      .title {
        padding-bottom: 10px;
      }
    }
  }
  
  .p-datatable {
    .p-datatable-tbody > tr {
      border-top: 1px solid #e9ecef;
      font-size: 12.5px;
    }

    .p-datatable-footer {
      border-top: 1px solid #e9ecef!important;

      .p-paginator {
        justify-content: center;
      }
    }
  } 
}