<div class="row">
    <div class="col-md-12 p-0 mb-3">
        <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
    </div>
</div>

<div class="row">
    <div class="col-md-12 p-0">
        <p-card>
            <ng-template pTemplate="header">
                <div class="row">
                    <div class="col-12 col-md-6 title my-auto">
                        <h4 class="m-0">Lista de cargos</h4>
                    </div>
                    <div class="col-12 col-md-6 buttons">
                        <button type="button" pButton pRipple icon="pi pi-refresh" (click)="refresh()" class="p-button-sm p-mr-2"  pTooltip="Atualizar lista" tooltipPosition="left"></button>
                        <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-danger p-button-sm p-mr-2"  pTooltip="Exportar dados para XLS" tooltipPosition="left"></button>
                        <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success p-button-sm p-mr-2"  pTooltip="Exportar dados para XLS" tooltipPosition="left"></button>
                        <button type="button" pButton pRipple icon="pi pi-plus" [routerLink]="['/occupations/new']" class="btn-primary-hc p-button-sm" pTooltip="Adicionar cargo" tooltipPosition="left"></button>
                    </div>
                </div>
            </ng-template>
           <p-table [columns]="cols" [value]="occupations" [responsive]="true">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of cols">
                        {{col.header}}
                    </th>
                    <th class="col-actions text-center">Ações</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns" [title]="rowData[col.field]">
                        <span class="p-column-title">{{col.header}}</span>
                        {{rowData[col.field]}}
                    </td>
                    <td class="col-actions text-center">
                        <button (click)="editOccupation(rowData['id'])" pButton pRipple type="button" pTooltip="Editar" tooltipPosition="left" icon="pi pi-pencil" class="p-button-rounded p-button-text p-button-secondary"></button>
                        <button (click)="confirmDelete(rowData['id'])" pButton pRipple type="button"  pTooltip="Excluir" tooltipPosition="left" icon="pi pi-trash" class="p-button-rounded p-button-text p-button-danger"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <p-paginator class="d-none d-md-block" [first]="first" [rows]="rows" [totalRecords]="totalRecords" [rowsPerPageOptions]="rowsPerPageOptions" [pageLinkSize]="4" (onPageChange)="paginate($event)"></p-paginator>
                <p-paginator class="d-block d-md-none" [first]="first" [rows]="rows" [totalRecords]="totalRecords" (onPageChange)="paginate($event)" [showFirstLastIcon]="false" [showJumpToPageDropdown]="true" [showPageLinks]="false" currentPageReportTemplate="{currentPage} de {totalPages}"></p-paginator>
            </ng-template>
        </p-table>
    </p-card>
    </div>
</div>

<p-confirmDialog [style]="{width: '400px'}" [baseZIndex]="5000"></p-confirmDialog>
