<div class="container">
    <div class="row">
      <div class="col-md-12 mx-auto">
        <div class="card-form-public form">
          <div class="logo mb-3">
            <div class="col-md-12 text-center">
              <h1>Página não encontrada</h1>
              <p>A página que você acessou não existe ou não está disponível no momento!</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <button
                pButton
                type="button"
                label="Voltar"
                (click)="backHome()"
                class="btn-block btn-primary-hc"
              ></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  