<div class="row">
  <div class="col-md-12 p-0 mb-3">
    <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
  </div>
</div>

<div class="row">
  <div class="col-md-12 p-0">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <p-card>
        <ng-template pTemplate="header">
          <div class="row pt-2">
            <div class="col-md-6 mb-2">
              <h4>{{ titlePage }} ({{ scheduling?.procedure.name }})<i class="pi pi-spin pi-spinner ml-2" style="font-size: 1.2rem;" *ngIf="loadForm"></i></h4>
            </div>
            <div class="col-md-6 m-auto text-right">
              <small><strong>Início:</strong> {{ scheduling?.date_hour | date: 'dd/MM/yyyy' }} às {{ scheduling?.date_hour | date: 'HH:mm' }}</small> |
              <small *ngIf="!form.get('id').value">
                <strong>Previsão de término:</strong> {{ scheduling?.date_hour_end | date: 'dd/MM/yyyy' }} às {{ scheduling?.date_hour_end | date: 'HH:mm' }}
              </small>
              <small *ngIf="form.get('id').value">
                <strong>Término:</strong> {{ form.get('created_at').value | date: 'dd/MM/yyyy' }} às {{ form.get('created_at').value | date: 'HH:mm' }}
              </small>
            </div>
          </div>
        </ng-template>

        <div class="row">
          <div class="col-md-12">
            <h5 class="mb-0">{{ scheduling?.patient.person.name }}</h5>
            <small
              >{{ scheduling?.patient.person.birth_date | personAge }},
              {{ scheduling?.patient.person.sex | personSex }},
              {{
                scheduling?.patient.person.marital_status | personMaritalStatus
              }}, Convênio:
              {{
                scheduling?.health_insurance?.name
                  ? scheduling.health_insurance.name
                  : "Particular"
              }}</small
            >
          </div>
        </div>

        <div class="p-fluid row mt-3">
          <div class="col-12 col-md-4">
            <label for="weight">Peso</label>
            <input
              id="weight"
              type="number"
              formControlName="weight"
              pInputText
            />
          </div>
          <div class="col-12 col-md-4">
            <label for="blood_pressure">Pressão arterial</label>
            <input
              id="blood_pressure"
              type="text"
              formControlName="blood_pressure"
              pInputText
            />
          </div>
          <div class="col-12 col-md-4">
            <label for="blood_type">Tipo sanguíneo</label>
            <p-dropdown
              inputId="blood_type"
              placeholder="Selecionar..."
              optionLabel="label"
              [options]="blood_types"
              optionValue="id"
              formControlName="blood_type"
            ></p-dropdown>
          </div>
        </div>

        <div class="p-fluid row mt-3">
          <div class="col-12 col-md-4">
            <label for="allergies">Alergias</label>
            <textarea
              id="allergies"
              type="text"
              rows="2"
              formControlName="allergies"
              pInputTextarea
            ></textarea>
          </div>
          <div class="col-12 col-md-4">
            <label for="chronic_diseases">Doenças crônicas</label>
            <textarea
              id="chronic_diseases"
              type="text"
              rows="2"
              formControlName="chronic_diseases"
              pInputTextarea
            ></textarea>
          </div>
          <div class="col-12 col-md-4">
            <label for="note">Observações</label>
            <textarea
              id="note"
              type="text"
              rows="2"
              formControlName="note"
              pInputTextarea
            ></textarea>
          </div>
        </div>

        <div class="p-fluid row mt-3">
          <div class="col-12 col-md-12">
            <label for="prescription">Prescrição</label>
            <textarea
              id="prescription"
              type="text"
              rows="4"
              formControlName="prescription"
              [ngClass]="applyInputError('prescription')"
              pInputTextarea
            ></textarea>
            <app-error-message
              [control]="form.get('prescription')"
              label="Prescrição"
            ></app-error-message>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-12 m-0 text-right" *ngIf="!form.get('id').value">
            <button
              pButton
              type="submit"
              label="Finalizar"
              [icon]="!load ? 'pi pi-check' : 'pi pi-spin pi-spinner'"
              [disabled]="load"
              class="p-button-success mr-2"
            ></button>
            <button
              pButton
              type="button"
              label="Cancelar"
              (click)="cancel()"
              [disabled]="load"
              icon="pi pi-times"
              class="p-button-secondary"
            ></button>
          </div>
          <div class="col-12 col-md-12 m-0 text-right" *ngIf="form.get('id').value">
            <button
              pButton
              type="submit"
              label="Atualizar"
              [icon]="!load ? 'pi pi-check' : 'pi pi-spin pi-spinner'"
              [disabled]="load"
              class="p-button-success mr-2"
              *ngIf="stateForm === statesForm.EDIT"
            ></button>
            <button
              pButton
              type="button"
              (click)="editAttendance()"
              label="Editar"
              icon="pi pi-pencil"
              class="p-button-outlined mr-2"
              *ngIf="stateForm === statesForm.VIEW"
            ></button>
            <button
              pButton
              type="button"
              label="Cancelar"
              (click)="cancel()"
              [disabled]="load"
              icon="pi pi-times"
              class="p-button-secondary"
            ></button>
          </div>
        </div>
      </p-card>
    </form>
  </div>
</div>
